[build]
  command = "npm run build"
  publish = ".next"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "20"
  NPM_VERSION = "10"
  NEXT_TELEMETRY_DISABLED = "1"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[template.environment]
  DATABASE_URL = "Your database connection string"
  DISCORD_CLIENT_ID = "Your Discord app client ID"
  DISCORD_CLIENT_SECRET = "Your Discord app client secret"
  NEXTAUTH_SECRET = "Your NextAuth secret"
  NEXTAUTH_URL = "Your deployed site URL"